*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headlines{
    padding-right: 5%;
    color:rgb(0,39,54);

    background-color:white;
    font-size: 13px;
    /* margin-right: 5%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.CNum{
    font-size: 12px;
}